# sudo nano /etc/systemd/system/zookeeper.service 

[Unit]
Description=Apache Zookeeper service
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
ExecStart=/root/kafka_2.13-3.3.1/bin/zookeeper-server-start.sh /root/kafka_2.13-3.3.1/config/zookeeper.properties
ExecStop=/root/kafka_2.13-3.3.1/bin/zookeeper-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target

# sudo systemctl daemon-reload 
# sudo systemctl start zookeeper 
# sudo systemctl status zookeeper
# sudo systemctl enable zookeeper 